/* background fade */
@-webkit-keyframes fade {
    0% {
        background: #fff
    }

    7% {
        background: #001F3F
    }

    14% {/
        background: #0074D9
    }

    21% {
        background: #7FDBFF
    }

    28% {
        background: #39CCCC
    }

    35% {
        background: #3D9970
    }

    42% {
        background: #2ECC40
    }

    49% {
        background: #01FF70
    }

    56% {
        background: #FFDC00
    }

    63% {
        background: #FF851B
    }

    70% {
        background: #FF4136
    }

    77% {
        background: #85144B
    }

    84% {
        background: #F012BE
    }

    91% {
        background: #B10DC9
    }

    95% {
        background: #111
    }

    96% {
        background: #ddd
    }

    98% {
        background: #aaa
    }

    100% {
        background: #fff
    }
}

@keyframes fade {
  0% {
    background: #fff
  }

  7% {
    background: #001F3F
  }

  14% {
    background: #0074D9
  }

  21% {
    background: #7FDBFF
  }

  28% {
    background: #39CCCC
  }

  35% {
    background: #3D9970
  }

  42% {
    background: #2ECC40
  }

  49% {
    background: #01FF70
  }

  56% {
    background: #FFDC00
  }

  63% {
    background: #FF851B
  }

  70% {
    background: #FF4136
  }

  77% {
    background: #85144B
  }

  84% {
    background: #F012BE
  }

  91% {
    background: #B10DC9
  }

  95% {
    background: #111
  }

  96% {
    background: #ddd
  }

  98% {
    background: #aaa
  }

  100% {
    background: #fff
  }
}

.fade-bg {
    -webkit-animation: fade 100s linear infinite;
    animation: fade 100s linear infinite
}
