.flex {
  display: -webkit-flex;
  display: flex;

  flex-flow: row;
  -webkit-flex-flow: row;

  justify-content: space-around;
  -webkit-justify-content: space-around;

  align-items: center;
  -webkit-align-items: center;

  align-content: space-around;
  -webkit-align-content: space-around;

  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex .spacer {
  margin: auto;
}
