/* general page styling */
body {
  font-family: avenir, helvetica, arial, sans-serif;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}

main {
  margin-right: 3%;
  margin-left: 3%;
}

#scrolltotop {
  font-size: 2em;
  opacity: 0.6;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #000000;
  visibility: hidden;
}

/* on air styling */
#onair img {
  max-width: 800px;
  width: 100%;
}


/* random styles */
.divider, hr {
  border: none;
  border-bottom: 1px solid #000000;
  margin: 1em 0;
}

.divider-small {
  margin-top: .25em;
  margin-bottom: .25em;
  border-bottom: 1px solid #000000;
  margin-right: 15%;
  margin-left: 15%;
}

span {
  display: inline-block;
}

/* stream player styling */
#stream {
  text-align: center;
}

/* Logo centering and scaling */
#WMTU {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}

/* logo styling */
#top-logo {
  width: auto;
  max-height: 18em;
}

#logo {
  order: 1;
}

@media all and (min-width: 476px) {
  #player {
    animation: pulse 2s infinite;
    padding-right: 10px;
    font-size: 4.5em;
    order: 2;
    position: relative;
    top: 2em;
    vertical-align: middle;
    display: inline-block;
    margin-left: -0.6em;
    color: #000;
    height: 100%;
    width: 1em;
  }
}

@media all and (min-width: 50px) and (max-width: 475px) {
  #player {
    animation: pulse 2s infinite;
    padding-right: 10px;
    font-size: 15vw;
    order: 2;
    position: relative;
    top: 1.5em;
    vertical-align: middle;
    display: inline-block;
    margin-left: -0.6em;
    color: #000;
    height: 100%;
    width: 1em;
  }
}

@keyframes pulse {
  0% {
    text-shadow:
   -1px -1px 0 #00FFFF,  
    1px -1px 0 #00FFFF,
    -1px 1px 0 #00FFFF,
     1px 1px 0 #00FFFF;
  }
  50% {
    text-shadow:
   -1px -1px 0 rgba(0,0,0,0),  
    1px -1px 0 rgba(0,0,0,0),
    -1px 1px 0 rgba(0,0,0,0),
     1px 1px 0 rgba(0,0,0,0);
  }
  100% {
    text-shadow:
   -1px -1px 0 #00FFFF,  
    1px -1px 0 #00FFFF,
    -1px 1px 0 #00FFFF,
     1px 1px 0 #00FFFF;
  }
}

#player span {
  display: inline-block;
  margin: 0 auto;
}

#player span:hover {
  color: #333;
}

@media (max-width: 700px) {
  #current-track {
    font-size: 3vw;
  }
}

/* navigation */
.table {
  display: table;
  width: 55%;
  margin: 1.5em auto;
  padding: 0 15px;
  border-spacing: 0.15em;
}

.table_cell {
  display: table-cell;
  padding: 0 1em;
  font-size: 1em;
  font-weight: 500;
  white-space: nowrap;
}

@media (max-width: 1500px) {
  .table {
    width: auto;
    margin: .25em auto;
  }
}

@media (max-width: 870px) {
  .table_cell {
    padding: 0;
    font-size: 2.3vw;
  }
}

/* table styling */
.content_table {
  font-size: 1em;
  text-align: left;
  white-space: nowrap;
  border-spacing: 0px;
}

@media (max-width: 870px) {
  .content_table {
    font-size: 2.3vw;
  }
}

.content_table td:first-child, .content_table th:first-child {
  padding-left: 5vw;
}

.content_table td:last-child, .content_table th:last-child {
  padding-right: 5vw;
}

.content_table td, .content_table th {
  border-bottom:1px solid rgba(0,0,0,.2);
  padding: 0.25em 0.75em;
}

/* contact info styling */
#department-contacts {
  margin: 1em auto;
}


/* playlist styling */
#playlist-date {
  border: 1px solid #000000;
  border-radius: 0.15em;
  background-color: inherit;
  height: 1.5em;
  color: #000000;
  font-family: inherit;
  text-align: center;
  font-size: 1.5em;
}

#playlist-picker-container{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
}

::-webkit-input-placeholder {
   color: #000000;
}

.playlist-date_root{
  margin: 0 auto;
}

#playlist-table{
  margin: 1em auto;
  max-width: 80vw;
}

#playlist-table tbody {
  display: block;
  max-height: 50vh;
  overflow-y: scroll;
}

#playlist-table thead, #playlist-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* footer styling */
footer {
  margin-top: 1em;
  padding: 1em;
  text-align: left;
  background-color: rgba(0,0,0,0.6);
  color: #888888;
}

.page {
  text-align: left;
  width: 80%;
  margin: 1em auto;
}

#playlist-date_root {
  left: 0;
  height: 0;
}

.picker__holder {
  position: relative;
  margin: 0 auto;
}

.newlineItem {
  margin-top: 1em;
}

.prewrapItem {
  white-space: pre-wrap;
}
