/* general page styling */
body {
  font-family: avenir, helvetica, arial, sans-serif;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}

main {
  margin-right: 3%;
  margin-left: 3%;
}

#scrolltotop {
  font-size: 2em;
  opacity: 0.6;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #000000;
  visibility: hidden;
}

/* on air styling */
#onair img {
  max-width: 800px;
  width: 100%;
}


/* random styles */
.divider, hr {
  border: none;
  border-bottom: 1px solid #000000;
  margin: 1em 0;
}

.divider-small {
  margin-top: .25em;
  margin-bottom: .25em;
  border-bottom: 1px solid #000000;
  margin-right: 15%;
  margin-left: 15%;
}

span {
  display: inline-block;
}

/* stream player styling */
#stream {
  text-align: center;
}

/* Logo centering and scaling */
#WMTU {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}

/* logo styling */
#top-logo {
  width: auto;
  max-height: 15em;
}

#logo {
  order: 1;
}

@media all and (min-width: 476px) {
  #player {
    padding-right: 10px;
    font-size: 4.5em;
    order: 2;
    position: relative;
    top: 1.55em;
    vertical-align: middle;
    display: inline-block;
    margin-left: -0.6em;
    color: #000;
  }
}

@media all and (min-width: 50px) and (max-width: 475px) {
  #player {
    padding-right: 10px;
    font-size: 15vw;
    order: 2;
    position: relative;
    top: 1.5em;
    vertical-align: middle;
    display: inline-block;
    margin-left: -0.6em;
    color: #000;
  }
  
}

#player span {
  display: inline-block;
  margin: 0 auto;
}

#player span:hover {
  color: #333;
}

#current-track {
  margin: 1em;
  font-size: 1.5em;
  color: #000000;
}

/* navigation */
.table {
  padding-top: .25em;
  padding-bottom: .25em;
  display: table;
  width: 100%;
}

@media all and (min-width: 870px) {
  .table_cell {
    font-size: 1em;
    font-weight: 500;
    width: 33%;
    white-space: nowrap;
    display: table-cell;
  }
}

@media all and (min-width: 50px) and (max-width: 869px) {
  .table_cell {
    font-size: 2.3vw;
    font-weight: 500;
    width: 33%;
    white-space: nowrap;
    display: table-cell;
  }
}

/* table styling */
@media all and (min-width: 870px) {
  .content_table {
    font-size: 1em;
    white-space: nowrap;
    border-spacing: 0px;
  }
}

@media all and (min-width: 50px) and (max-width: 869px) {
  .content_table {
    font-size: 2.3vw;
    white-space: nowrap;
    border-spacing: 0px;
  }
}

.content_table td:first-child, th:first-child {
  padding-left: 5vw;
}

.content_table td:last-child, th:last-child {
  padding-right: 5vw;
}


.content_table td {
  border-bottom:1px solid rgba(0,0,0,.2);
}

/* contact info styling */
#department-contacts {
  margin: 1em auto;
}


/* playlist styling */
#playlist-date {
  border: 1px solid #000000;
  border-radius: 0.15em;
  background-color: inherit;
  height: 1.5em;
  color: #000000;
  font-family: inherit;
  text-align: center;
  font-size: 1.5em;
}

#playlist-picker-container{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
}

::-webkit-input-placeholder {
   color: #000000;
}

.playlist-date_root{
  margin: 0 auto;
}

#playlist-table{
  margin: 1em auto;
}

/* footer styling */
footer {
  margin-top: 1em;
  padding: 1em;
  text-align: left;
  background-color: rgba(0,0,0,0.6);
  color: #888888;
}

.page {
  text-align: left;
  width: 80%;
  margin: 1em auto;
}

#playlist-date_root {
  left: 0;
  height: 0;
}

.picker__holder {
  position: relative;
  margin: 0 auto;
}
