/* general page styling */
body {
  font-family: avenir, helvetica, arial, sans-serif;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}

main {
  margin-right: 3%;
  margin-left: 3%;
}

#scrolltotop {
  font-size: 2em;
  opacity: 0.6;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #000000;
  visibility: hidden;
}

/* on air styling */
#onair img {
  max-width: 800px;
  width: 100%;
}


/* random styles */
.divider, hr {
  border: none;
  border-bottom: 1px solid #000000;
  margin: 1em 0;
}

.divider-small {
  margin-top: .25em;
  margin-bottom: .25em;
  border-bottom: 1px solid #000000;
  margin-right: 15%;
  margin-left: 15%;
}

span {
  display: inline-block;
}


/* logo styling */
#top-logo {
  width: auto;
  height: 300px;
}


/* stream player styling */
#stream {
  text-align: center;
}

#WMTU {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
}

#player {
  position: relative;
  top: 58px;
  vertical-align: middle;
  display: inline-block;
  margin-left: -40px;
  font-size: 90px;
  color: #000000;
}

#player span {
  display: inline-block;
  margin: 0 auto;
}

#player span:hover {
  color: #333;
}

#current-track {
  margin: 1em;
  font-size: 1.5em;
  color: #000000;
}


/* navigation styling */
#navigation {
  margin: 1.5em;
}

/* table styling */
table td {
  border-bottom:1px solid rgba(0,0,0,.2) !important;
}
/* contact info styling */
#department-contacts {
  margin: 1em auto;
}


/* playlist styling */
#playlist-date {
  border: 1px solid #000000;
  border-radius: 0.15em;
  background-color: inherit;
  height: 1.5em;
  color: #000000;
  font-family: inherit;
  text-align: center;
  font-size: 1.5em;
}

#playlist-picker-container{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
}

::-webkit-input-placeholder {
   color: #000000;
}

.playlist-date_root{
  margin: 0 auto;
}

#playlist-table{
  margin: 1em auto;
}

/* footer styling */
footer {
  margin-top: 1em;
  padding: 1em;
  text-align: left;
  background-color: rgba(0,0,0,0.6);
  color: #888888;
}

.page {
  text-align: left;
  width: 80%;
  margin: 1em auto;
}

#playlist-date_root {
  left: 0;
  height: 0;
}

.picker__holder {
  position: relative;
  margin: 0 auto;
}
