language: ruby
rvm:
  - 2.2.1
sudo: false
before_install:
- travis_retry gem install jekyll
- travis_retry gem install net-scp
script: jekyll build
before_deploy:
  - cd _site
deploy:
  provider: script
  script: ruby ../scripts/scp.rb $USERNAME $PASSWORD wmtu.mtu.edu . /var/www/
  on:
    branch: master
branches:
  only:
  - master

env:
  global:
  - secure: U62MFwHsx+JZtUKu96d1HoODhHhv+qkoHSw8XeR61JsKm1zIUs1ljZcgQW8D+Rn60TvpkrnUdvc64VDoiXq4qly9gvBY1ntMbJJiO6IZA8cY36I73QiBYBDokNSq7NMcN67U15SLDyN7MvsuUVObvosXtGeIaC38kq93PGN96oQ=
  - secure: SC3zeEJL4C6Ofakb8GajILGks2BWO303OCijVMt5000v0kutStvOVmD2dpNSsc0KyEa+2eoKVOV0maj7mvENscgONl+gBFy4m6cRImzum7x0hHAq1CEg7sASZgnHXuBVImu704/I2BeGYi8CDNO61spftv1HN2meupyCRiDrjQI=
