<header class="site-header">
  <div class="wrapper">
    <div id="WMTU">
      <div id="logo">
        <a href="{{ "/" | prepend: site.baseurl }}" data-pjax ><img id="top-logo" class="pulsate-bg zoom" src="{{ "/images/wmtu-logo.svg" | prepend: site.baseurl }}" alt="WMTU" /></a>
      </div>
      <div id="player">
        <span id="play-button"><i class="fa fa-play"></i></span>
        <span id="loading-icon"><i class="fa fa-refresh fa-spin"></i></span>
        <span id="pause-button"><i class="fa fa-pause"></i></span>
      </div>
    </div>

    <div id="music-info">
        <span id="current-track"></span>
        <br />
        <a href="https://twitter.com/intent/tweet?button_hashtag=WMTUrequest&amp;text=Play%20%22Gettin'%20Jiggy%20wit%20It%22%20by%20Will%20Smith" class="twitter-hashtag-button" data-size="large" data-related="WMTU">Tweet #WMTUrequest</a>
    </div>

    <!--
    <div id="music-info">Our now playing bar is currently under maintenance. Please see our <a href="https://status.wmtu.fm" target="_blank">statuspage</a> for more maintenance info.</div>
    -->

    <div class="divider"></div>
    <div id="navigation" class="table">
      <div class="table_cell">
        <a href="https://kfest.mtu.edu" target="_blank" class="btn item">KFest</a>
      </div>
      <div class="table_cell">
        <a href="{{ "/archives/" | prepend: site.baseurl }}" target="_blank" class="btn item">Archives</a>
      </div>
      {% for page in site.pages %}
        {% if page.title %}
          <div class="table_cell">
            <a class="btn item" data-pjax href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </div>
        {% endif %}
      {% endfor %}
      <div class="table_cell">
        <a href="{{ "/forum" | prepend: site.baseurl }}" target="_blank" class="btn item" onclick="return confirm('Warning! The views expressed herein are those of the posters, and not necessarily those of WMTU, its staff, underwriters, or Michigan Technological University.')">Forum</a>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</header>
