<header class="site-header">
  <div class="wrapper">
    <div id="WMTU">
      <div id="logo">
        <a href="{{ "/" | prepend: site.baseurl }}" data-pjax ><img id="top-logo" class="pulsate-bg zoom" src="{{ "/images/wmtu-logo.svg" | prepend: site.baseurl }}" alt="WMTU" /></a>
      </div>
      <div id="player">
        <span id="play-button"><i class="fa fa-play"></i></span>
        <span id="pause-button"><i class="fa fa-pause"></i></span>
      </div>
    </div>
    <div id="music-info">
        <span id="current-track"></span>
        <a href="https://twitter.com/intent/tweet?button_hashtag=WMTUrequest&text=Play%20%22Gettin'%20Jiggy%20wit%20It%22%20by%20Will%20Smith" class="twitter-hashtag-button" data-size="large" data-related="WMTU">Tweet #WMTUrequest</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <div class="divider"></div>
    <div id="navigation" class="table">
      <div class="table_cell">
        <a href="{{ "/archives/" | prepend: site.baseurl }}" target="_blank" class="btn item">Archives</a>
      </div>
      {% for page in site.pages %}
        {% if page.title %}
          <div class="table_cell">
            <a class="btn item" data-pjax href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </div>
        {% endif %}
      {% endfor %}
      <div class="table_cell">
        <a href="{{ "/forum" | prepend: site.baseurl }}" target="_blank" class="btn item" onclick="return confirm('Warning! The views expressed herein are those of the posters, and not necessarily those of WMTU, its staff, underwriters, or Michigan Technological University.')">Forum</a>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</header>
