<header class="site-header">
  <div class="wrapper">
    <a href="{{ "/" | prepend: site.baseurl }}" data-pjax ><img id="top-logo" class="pulsate-bg zoom" src="{{ "/images/wmtu-logo.svg" | prepend: site.baseurl }}" alt="WMTU" /></a>
    <div id="player">
        <span id="play-button"><i class="fa fa-play"></i></span>
        <span id="pause-button"><i class="fa fa-pause"></i></span>
    </div>
    <div id="stream">
      <div id="music-info">
        <span id="current-track"></span>
      </div>
    </div>
    <div class="divider"></div>
    <div id="navigation" class="flex">
      <a href="{{ "/archives/" | prepend: site.baseurl }}" target="_blank" class="btn item">Archives</a>
      <a href="{{ "/forum" | prepend: site.baseurl }}" target="_blank" class="btn item" onclick="return confirm('Warning! The views expressed herein are those of the posters, and not necessarily those of WMTU, its staff, underwriters, or Michigan Technological University.')">Forum</a>
      {% for page in site.pages %}
        {% if page.title %}
          <a class="btn item" data-pjax href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="divider"></div>
  </div>
</header>
