/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0px 0px 0px;
}

.footer-icon {
    line-height: 1.5em;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;

    &.footer-col-1 {
        width: 23%;
        li:not(:first-child) {
            font-size: 12px;
        }
    }

    &.footer-col-2 {
        width: 23%;
    }

    &.footer-col-3 {
        width: 45%;
    }
}

@media (max-width: 800px) {
    .footer-col {
        &.footer-col-1, &.footer-col-2 {
            width: 45%;
        }

        &.footer-col-3 {
            width: 90%;
        }
    }
}

@media (max-width: 500px) {
    .footer-col {
        &.footer-col-1, &.footer-col-2 {
            width: 90%;
        }
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Video
 */
#live-video {
  margin: 0 auto;
}
