<?php

return array(
  'host' => 'localhost',
  'username' => 'root',
  'password' => 'password',
  'database' => 'djlogs',
  'icecast_url' => 'http://localhost:8000',
  'icecast_credentials' => 'username:password'
);

?>
